<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple SPA</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div id="main-container">
        <div id="left-nav-bar">
            <a href="#" class="navigation" id="button">Configure ⚙️</a>
            <a href="#" class="navigation" id="provision">Provision 🛜</a>
            <a href="#" class="navigation" id="security">Security 🔐</a>
            <a href="#" class="navigation" id="action-1">Action 1 ⚡️</a>
            <a href="#" class="navigation" id="action-2">Action 2 ⚡</a>
            <a href="#" class="navigation" id="action-3">Action 3 ⚡</a>
            <a href="#" class="navigation" id="action-4">Action 4 ⚡</a>
            <a href="#" class="navigation" id="action-5">Action 5 ⚡</a>
            <a href="#" class="navigation" id="exit">Exit</a>
        </div>
        <div id="content-container">
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>